* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #222;
    /* Dark background color for the entire page */
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 2vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #f6f3f3;
    /* Default text color for the entire page */
}

header {

    /* Semi-transparent background for the header */
    z-index: 1000;
    /* Ensure header stays on top */
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar ul li {
    list-style: none;
    display: inline-block;


}

.navbar .logo img {
    position: fixed;
    left: 0;
    max-width: 1400px;
    /* Adjust the max-width of your logo */
    height: 80px;
    margin: o;
}

.navbar .menu-links {
    display: flex;
    gap: 40px;
}

.navbar a {
    color: #fafafa;
    /* Adjust text color */
    text-decoration: none;
    transition: 0.2s ease;
    padding: 10px;
    /* Adjust padding for better click area */
}

.navbar a:hover {
    color: #c06b3e;
    /* Adjust hover color */
}

.home .home-desc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
    text-align: left;
}

.home .home-desc h1 {
    margin-top: 100px;

    color: #dbdada;
    padding: 1rem;
    font-size: 5rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: left;

}

.home .home-desc h1 span {
    color: #e58e5e;
}

.search-for-dishes-cuisines-or-cooks {
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    color: #ADADAD;
}

.search-bar {
    border-radius: 44px;
    border: 3px solid #FFA101;
    margin-bottom: 23px;
    display: flex;
    padding: 12px 12px 12px 12px;
    box-sizing: border-box;
}

.quick-search-cuisines-or-cooks {

    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.search-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}

#search {
    width: 200px;
    padding: 5px;
    border: 1px solid #a32a2a;
    border-radius: 25px;
    background-color: #fafafa;
    cursor: pointer;
}


.search-frame {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: px;
    right: 58px;
    bottom: -2px;
    display: flex;
    flex-direction: column;
    padding: 16.1px 96px 0 50px;
    height: 1033px;
    box-sizing: border-box;
}