.frameChild,
.subtractIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 302px;
  height: 221px;
}
.frameChild {
  top: 167px;
  left: 98px;
  border-radius: 50%;
  background-color: #9a9898;
  width: 100px;
  height: 100px;
  z-index: 1;
}
.subtractParent {
  align-self: stretch;
  height: 267px;
  position: relative;
}
.frameChild1,
.frameItem,
.rectangleDiv {
  align-self: stretch;
  height: 15px;
  position: relative;
  background-color: #969696;
  z-index: 1;
}
.frameWrapper,
.rectangleParent {
  display: flex;
  align-items: flex-start;
}
.rectangleParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 22px;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 19px 0 20px;
}
.frameInner,
.frameParent {
  display: flex;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  border-radius: 24px;
  background-color: #d9d9d9;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 1px 40px 0;
  gap: 18px;
}
.frameInner {
  position: absolute;
  top: 0.5px;
  left: -63.3px;
  width: 303px;
  flex-direction: row;
  align-items: flex-start;
}
.frame1,
.frameIcon {
  width: 365.3px;
  overflow: hidden;
}
.frameIcon {
  position: absolute;
  top: 7px;
  left: -62.3px;
  height: 401px;
  z-index: 2;
}
.frame1 {
  height: 415px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 448091;
  max-width: 100%;
}
.frameIcon1 {
  position: absolute;
  height: calc(100% - 14px);
  top: 7px;
  bottom: 7px;
  left: -0.9px;
  max-height: 100%;
  width: 366.9px;
  overflow: hidden;
}
.circle,
.subtractIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 302px;
  height: 221px;
}
.circle {
  top: 167px;
  left: 98px;
  border-radius: 50%;
  background-color: #9a9898;
  width: 100px;
  height: 100px;
  z-index: 1;
}
.row {
  align-self: stretch;
  height: 267px;
  position: relative;
}
.button,
.buttonSecondary,
.buttonTertiary {
  align-self: stretch;
  height: 15px;
  position: relative;
  background-color: #969696;
  z-index: 1;
}
.actions,
.content1 {
  display: flex;
  align-items: flex-start;
}
.actions {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 22px;
}
.content1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 19px 0 20px;
}
.column,
.content {
  display: flex;
  justify-content: flex-start;
}
.content {
  flex: 1;
  border-radius: 24px;
  background-color: #d9d9d9;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 1px 40px 0;
  gap: 18px;
}
.column {
  position: absolute;
  top: 1px;
  left: 328px;
  width: 303px;
  flex-direction: row;
  align-items: flex-start;
  z-index: 1;
}
.frame3,
.frameIcon2 {
  overflow: hidden;
  flex-shrink: 0;
}
.frame3 {
  height: 415px;
  width: 631px;
  position: relative;
  max-width: 100%;
}
.frameIcon2 {
  height: calc(100% - 12px);
  width: 373.4px;
  position: absolute;
  margin: 0 !important;
  top: 6px;
  bottom: 6px;
  left: 0;
  max-height: 100%;
}
.circle1,
.subtractIcon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 302px;
  height: 221px;
}
.circle1 {
  top: 167px;
  left: 98px;
  border-radius: 50%;
  background-color: #9a9898;
  width: 100px;
  height: 100px;
  z-index: 1;
}
.row1 {
  align-self: stretch;
  height: 267px;
  position: relative;
}
.button1,
.buttonSecondary1,
.buttonTertiary1 {
  align-self: stretch;
  height: 15px;
  position: relative;
  background-color: #969696;
  z-index: 1;
}
.actions1,
.content3 {
  display: flex;
  align-items: flex-start;
}
.actions1 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 22px;
}
.content3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 19px 0 20px;
}
.content2 {
  flex: 1;
  border-radius: 24px;
  background-color: #d9d9d9;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 1px 40px 0;
  gap: 18px;
}
.column1,
.columnIcon,
.frame5 {
  position: absolute;
  left: -69.6px;
}
.column1 {
  top: 1px;
  width: 303px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.columnIcon,
.frame5 {
  top: 7px;
  width: 372.7px;
  height: 401px;
  overflow: hidden;
  z-index: 2;
}
.frame5 {
  height: 100%;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 333.4px;
  flex-shrink: 0;
  z-index: 1;
}
.circle2,
.subtractIcon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 302px;
  height: 221px;
}
.circle2 {
  top: 167px;
  left: 98px;
  border-radius: 50%;
  background-color: #9a9898;
  width: 100px;
  height: 100px;
  z-index: 1;
}
.row3 {
  align-self: stretch;
  height: 267px;
  position: relative;
}
.button2,
.buttonSecondary2,
.buttonTertiary2 {
  align-self: stretch;
  height: 15px;
  position: relative;
  background-color: #969696;
  z-index: 1;
}
.actions2,
.content5 {
  display: flex;
  align-items: flex-start;
}
.actions2 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 22px;
}
.content5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 19px 0 20px;
}
.column2,
.content4 {
  display: flex;
  justify-content: flex-start;
}
.content4 {
  flex: 1;
  border-radius: 24px;
  background-color: #d9d9d9;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 1px 40px 0;
  gap: 18px;
}
.column2 {
  position: absolute;
  top: 1px;
  left: -60.7px;
  width: 303px;
  flex-direction: row;
  align-items: flex-start;
}
.columnIcon1,
.columnIcon2,
.row2 {
  position: absolute;
  overflow: hidden;
}
.columnIcon1 {
  top: 9px;
  left: -60.7px;
  width: 364.7px;
  height: 397px;
  z-index: 2;
}
.columnIcon2,
.row2 {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  top: 0;
  left: -0.7px;
  flex-shrink: 0;
}
.columnIcon2 {
  height: 395px;
  width: 364.9px;
  top: 10px;
  left: 7px;
  z-index: 3;
}
.frame,
.frame2,
.frame4,
.frame6 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.frame6 {
  height: 100%;
  width: 371.9px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 666.1px;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  z-index: 3;
}
.frame,
.frame2,
.frame4 {
  justify-content: flex-start;
}
.frame4 {
  height: 415px;
  flex: 1;
  align-items: center;
  position: relative;
  max-width: 100%;
  z-index: 2;
  margin-left: -303px;
}
.frame,
.frame2 {
  align-items: flex-start;
}
.frame2 {
  width: 1364.9px;
  flex-shrink: 0;
  debug_commit: 448091;
  max-width: 105%;
  z-index: 3;
  margin-left: -360.3px;
}
.frame {
  align-self: stretch;
  max-width: 100%;
}
