.hero-section .vector-9 {
  width: 192px;
  height: 160px;
}
.hero-section .pharrow-right {
  position: absolute;
  left: 50%;
  top: 1419px;
  translate: -50% 0;
  display: flex;
  width: 192px;
  height: 160px;
  box-sizing: border-box;
}
.hero-section .group {
  margin: 0 6.6px 8.5px 0;
  width: 56.9px;
  height: 52.5px;
}
.hero-section .homemade {
  overflow-wrap: break-word;
  font-family: var(--bold-header-01-font-family, 'Inter');
  font-weight: var(--bold-header-01-font-weight, 700);
  font-size: var(--bold-header-01-font-size, 22.3px);
  color: #FFFFFF;
}
.hero-section .homemade-logo-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.hero-section .read-more-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}
.hero-section .frame-28 {
  border-radius: 100px;
  background: #FFA101;
  margin: 4.9px 0 14px 0;
  display: flex;
  padding: 20px 0.7px 20px 0;
  width: 167px;
  height: fit-content;
  box-sizing: border-box;
}
.hero-section .container-15 {
  margin-bottom: 283px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1294px;
  box-sizing: border-box;
}
.hero-section .discover-and-connect-with-talented-home-cooks {
  margin: 0 25px 56px 25px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 72px;
  color: #FFFFFF;
}
.discover-and-connect-with-talented-home-cooks-sub9 {
  font-family: 'Roboto', 'Roboto Condensed';
  font-weight: 700;
  font-size: 72px;
  line-height: 1.333;
}
.discover-and-connect-with-talented-home-cooks-sub8 {
  font-family: 'Roboto', 'Roboto Condensed';
  font-weight: 700;
  font-size: 72px;
  line-height: 1.333;
  color: #24FF00;
}
.discover-and-connect-with-talented-home-cooks {
  font-family: 'Roboto', 'Roboto Condensed';
  font-weight: 700;
  font-size: 72px;
  line-height: 1.333;
  color: var(--cta, #FFA101);
}
.hero-section .search-for-dishes-cuisines-or-cooks {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  color: #ADADAD;
}
.hero-section .search-bar {
  border-radius: 44px;
  border: 3px solid #FFA101;
  margin-bottom: 23px;
  display: flex;
  padding: 12px 16.2px 12px 16px;
  box-sizing: border-box;
}
.hero-section .quick-search-cuisines-or-cooks {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.hero-section .search-frame {
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 59px;
  right: 58px;
  bottom: -2px;
  display: flex;
  flex-direction: column;
  padding: 16.1px 96px 0 50px;
  height: 1033px;
  box-sizing: border-box;
}
.hero-section .about-1 {
  margin-right: 13.5px;
  width: 209.5px;
  overflow-wrap: break-word;
  font-family: var(--bold-header-01-font-family, 'Inter');
  font-weight: var(--bold-header-01-font-weight, 700);
  font-size: var(--bold-header-01-font-size, 22.3px);
  color: #FFFFFF;
}
.hero-section .cooks {
  overflow-wrap: break-word;
  font-family: var(--bold-header-01-font-family, 'Inter');
  font-weight: var(--bold-header-01-font-weight, 700);
  font-size: var(--bold-header-01-font-size, 22.3px);
  color: #FFFFFF;
}
.hero-section .frame {
  display: flex;
  box-sizing: border-box;
}
.hero-section .contact {
  overflow-wrap: break-word;
  font-family: var(--bold-header-01-font-family, 'Inter');
  font-weight: var(--bold-header-01-font-weight, 700);
  font-size: var(--bold-header-01-font-size, 22.3px);
  color: #FFFFFF;
}
.hero-section .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 43px 0 21px 0;
  width: 607px;
  height: fit-content;
  box-sizing: border-box;
}
.hero-section .frame-19 {
  background: url('../assets/images/frame_19.jpeg') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 3px 0 0 88px;
  width: 1557px;
  height: 1038px;
  box-sizing: border-box;
}
.hero-section .about-homemade {
  margin: 0 0 99.5px 2.8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--h-1-font-family, 'Inter');
  font-weight: var(--h-1-font-weight, 600);
  font-size: var(--h-1-font-size, 56.4px);
  color: #4C483D;
}
.hero-section .vector {
  width: 47px;
  height: 58px;
}
.hero-section .awards {
  border-radius: 100px;
  background: rgba(255, 161, 1, 0.25);
  margin-bottom: 18px;
  display: flex;
  align-self: flex-start;
  padding: 35px 1px 35px 0;
  width: 128px;
  height: 128px;
  box-sizing: border-box;
}
.hero-section .customer-reviews {
  margin-bottom: 20px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.hero-section .discover-why-people-trust-our-platform-to-find-exceptional-culinary-talent {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.hero-section .frame-25 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .frame-35 {
  margin-right: 162.2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hero-section .vector-1 {
  width: 56px;
  height: 56px;
}
.hero-section .phchef-hat-light {
  border-radius: 100px;
  background: rgba(255, 161, 1, 0.25);
  margin-bottom: 18px;
  display: flex;
  padding: 36px 0 36px 1px;
  width: 129px;
  height: 128px;
  box-sizing: border-box;
}
.hero-section .cuisine-excellence {
  margin: 0 0.4px 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.hero-section .expertise-and-creativity-of-our-chefs-bring-to-every-dish-transforming-ingredients-into-masterpieces {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.hero-section .frame-26 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .frame-33 {
  margin: 2.5px 162.4px 2.5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.hero-section .vector-2 {
  width: 56px;
  height: 56px;
}
.hero-section .utensils {
  border-radius: 100px;
  background: rgba(255, 161, 1, 0.25);
  margin-bottom: 18px;
  display: flex;
  padding: 36px 0;
  width: 128px;
  height: 128px;
  box-sizing: border-box;
}
.hero-section .seasonal-specials {
  margin: 0 0.2px 20px 0.2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.hero-section .enjoy-the-freshest-flavors-of-the-season-with-our-rotating-specials {
  text-align: right;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.hero-section .frame-27 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .frame-34 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.hero-section .about-section {
  margin-bottom: 102px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .read-more {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}
.hero-section .frame-29 {
  border-radius: 100px;
  background: #FFA101;
  display: flex;
  padding: 20px 0.1px 20px 0;
  width: 212px;
  box-sizing: border-box;
}
.hero-section .frame-36 {
  margin: 0 69px 242.5px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .your-business-powered-by-homemade {
  margin: 0 0 587.5px 7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--h-1-font-family, 'Inter');
  font-weight: var(--h-1-font-weight, 600);
  font-size: var(--h-1-font-size, 56.4px);
  color: #4C483D;
}
.hero-section .browse-stores {
  margin-right: 11.3px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #E9E9E9;
}
.hero-section .vector-16 {
  width: 18px;
  height: 15px;
}
.hero-section .pharrow-right-1 {
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 15px;
  box-sizing: border-box;
}
.hero-section .state-1 {
  border-radius: 103px;
  background: #4A4A4A;
  display: flex;
  flex-direction: row;
  padding: 11.5px 15px 11.5px 12px;
  box-sizing: border-box;
}
.hero-section .state {
  margin: 0 70px 124.5px 70px;
  display: flex;
  align-self: flex-end;
  box-sizing: border-box;
}
.hero-section .built-for-food-creators-and-their {
  position: relative;
  overflow-wrap: break-word;
  font-family: var(--h-1-font-family, 'Inter');
  font-weight: var(--h-1-font-weight, 600);
  font-size: var(--h-1-font-size, 56.4px);
  color: #4C483D;
}
.hero-section .customers {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 56.4px;
  letter-spacing: 1.5px;
  line-height: 1.064;
  color: #4C483D;
}
.hero-section .h-1-text {
  position: relative;
  margin: 0 55.9px 46px 0;
  display: flex;
  padding-bottom: 59.5px;
  box-sizing: border-box;
}
.hero-section .image-2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url('../assets/images/image.png');
  margin-right: 50.9px;
  width: 717.1px;
  height: 563.6px;
}
.hero-section .engage-customers {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 33.9px;
  line-height: 1.18;
  color: #000000;
}
.hero-section .generate-sales {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 33.9px;
  line-height: 1.18;
  color: #000000;
}
.hero-section .h-3-text-2-xl-2 {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .build-and-customize-aprofessional {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .store {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .strong {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.hero-section .container-9 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hero-section .online {
  position: absolute;
  top: 0px;
  right: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .in-minutes {
  position: absolute;
  left: 55.9px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .paragraphtext-base {
  position: relative;
  margin: 0 24.7px 32px 0;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .reach-new-customers-and-enhance-their {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .experience-with-full-service-delivery {
  margin-right: 30.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.experience-with-full-service-delivery-sub8 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.333;
  color: #000000;
}
.experience-with-full-service-delivery-sub7 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.333;
  color: #000000;
}
.experience-with-full-service-delivery {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.333;
  color: #000000;
}
.hero-section .paragraphtext-base-1 {
  margin: 0 31.6px 33px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .connect-with-customers-automatically-with {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .menu-alerts-and-delivery-notifications {
  margin-right: 42.1px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.menu-alerts-and-delivery-notifications-sub8 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.333;
  color: #000000;
}
.menu-alerts-and-delivery-notifications-sub7 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.333;
  color: #000000;
}
.menu-alerts-and-delivery-notifications {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.333;
  color: #000000;
}
.hero-section .paragraphtext-base-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .divflex {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .divflex-15 {
  margin: 48px 0 100.6px 0;
  display: flex;
  flex-direction: column;
  width: 466.8px;
  box-sizing: border-box;
}
.hero-section .divflex-14 {
  margin: 0 2.3px 176px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .easily-manage-your-online {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 33.9px;
  line-height: 1.18;
  color: #000000;
}
.hero-section .business {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 33.9px;
  line-height: 1.18;
  color: #000000;
}
.hero-section .h-3-text-2-xl {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .track-orders-manage-inventory-and {
  margin-right: 18px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .control-your-schedule-all-in-one-place {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .paragraphtext-base-3 {
  margin-bottom: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .get-notified-when-you-receive-orders-and {
  margin-bottom: 1px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.get-notified-when-you-receive-orders-and-sub8 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.333;
  color: #000000;
}
.get-notified-when-you-receive-orders-and {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.333;
  color: #000000;
}
.hero-section .when-its-time-to-cook {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .paragraphtext-base-4 {
  margin: 0 27.6px 32px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .manage-on-the-web-or-through-homemades {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .dedicated-app-when-youre-in-the-kitchen {
  margin-right: 29.3px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.dedicated-app-when-youre-in-the-kitchen-sub8 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.333;
  color: #000000;
}
.dedicated-app-when-youre-in-the-kitchen {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.333;
  color: #000000;
}
.hero-section .paragraphtext-base-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .divflex-3 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .divflex-2 {
  margin: 48px 37px 132.2px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hero-section .image {
  background: url('../assets/images/image_2.png') 50% / contain no-repeat;
  width: 727px;
  height: 595.2px;
}
.hero-section .divflex-1 {
  margin-bottom: 96px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .image-1 {
  background: url('../assets/images/image_1.png') 50% / contain no-repeat;
  margin-right: 50.9px;
  width: 727px;
  height: 580.6px;
}
.hero-section .access-dedicated-support {
  margin-right: 9.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 33.9px;
  line-height: 1.18;
  color: #000000;
}
.hero-section .to-help-grow-your-business {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 33.9px;
  line-height: 1.18;
  color: #000000;
}
.hero-section .h-3-text-2-xl-1 {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .scale-your-business-with {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .support {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .strong-1 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.hero-section .container-10 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hero-section .day-aweek {
  position: absolute;
  top: 0px;
  right: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.435;
  color: #FDF4DD;
}
.hero-section .from-industry-professionals {
  position: absolute;
  right: 17.9px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .paragraphtext-base-6 {
  position: relative;
  margin: 0 25px 32px 0;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .grow-your-business-using-our {
  margin-right: 0.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .marketing {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.435;
  color: #FDF4DD;
}
.hero-section .container-4 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .resources {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hero-section .and-consultation {
  position: absolute;
  left: 108.3px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.and-consultation-sub8 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.333;
  color: #000000;
}
.and-consultation-sub7 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.333;
  color: #000000;
}
.and-consultation {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.333;
  color: #000000;
}
.hero-section .paragraphtext-base-7 {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  box-sizing: border-box;
}
.hero-section .preferred-pricing-on {
  margin-right: 5.1px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .packaging-and {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .insurance {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .container-14 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hero-section .providers {
  position: absolute;
  left: 107.9px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.3px;
  line-height: 1.435;
  color: #000000;
}
.hero-section .paragraphtext-base-8 {
  position: relative;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.hero-section .divflex-6 {
  margin-right: 6.2px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .divflex-5 {
  margin: 48px 0 116.6px 0;
  display: flex;
  flex-direction: column;
  width: 439.9px;
  box-sizing: border-box;
}
.hero-section .divflex-4 {
  margin-right: 19.3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .frame-44 {
  margin: 0 106px 997.6px 96.9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .every-meal-is-an {
  overflow-wrap: break-word;
  font-family: var(--h-2-font-family, 'Inter');
  font-weight: var(--h-2-font-weight, 600);
  font-size: var(--h-2-font-size, 33.9px);
  color: #FFFFFF;
}
.hero-section .opportunity {
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: var(--h-2-font-family, 'Inter');
  font-weight: var(--h-2-font-weight, 600);
  font-size: var(--h-2-font-size, 33.9px);
  color: #FFFFFF;
}
.hero-section .h-1-flex {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  align-self: flex-start;
  padding-bottom: 41px;
  box-sizing: border-box;
}
.hero-section .homemade-connects-users-to-cooks-functions-as-amarketplace {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16.7px;
  line-height: 1.677;
  color: #FFFFFF;
}
.hero-section .where-individuals-seeking-home-cooked-meals-or-personalized-catering-services {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16.7px;
  line-height: 1.677;
  color: #FFFFFF;
}
.hero-section .can-find-and-hire-local-chefs-and-cooks {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16.7px;
  line-height: 1.677;
  color: #FFFFFF;
}
.hero-section .paragraphmt-3 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .divflex-10 {
  margin-bottom: 66px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hero-section .food-safety {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14.9px;
  line-height: 1.611;
  color: #FFFFFF;
}
.hero-section .linkinline-flex-3 {
  border-radius: 9999px;
  display: flex;
  box-sizing: border-box;
}
.hero-section .about {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14.9px;
  line-height: 1.611;
  color: #FFFFFF;
}
.hero-section .linkinline-flex-2 {
  border-radius: 9999px;
  display: flex;
  box-sizing: border-box;
}
.hero-section .container-6 {
  margin-bottom: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 265.3px;
  box-sizing: border-box;
}
.hero-section .blog {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14.9px;
  line-height: 1.611;
  color: #FFFFFF;
}
.hero-section .linkinline-flex-1 {
  border-radius: 9999px;
  display: flex;
  box-sizing: border-box;
}
.hero-section .gifts-by-homemade {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14.9px;
  line-height: 1.611;
  color: #FFFFFF;
}
.hero-section .linkinline-flex {
  border-radius: 9999px;
  display: flex;
  box-sizing: border-box;
}
.hero-section .container-12 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 362.8px;
  box-sizing: border-box;
}
.hero-section .divgrid {
  margin: 0 0 76px 16px;
  display: flex;
  flex-direction: column;
  width: 362.8px;
  box-sizing: border-box;
}
.hero-section .join-our-newsletter {
  margin: 0 16px 8px 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14.6px;
  line-height: 1.644;
  color: #FFFFFF;
}
.hero-section .enter-your-email {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14.2px;
  line-height: 1.69;
  color: rgba(0, 0, 0, 0.5);
}
.hero-section .inputml-4 {
  background: #FFFFFF;
  margin: 9px 34.5px 9px 0;
  padding: 0 5px;
  width: 209px;
  box-sizing: border-box;
}
.hero-section .subscribe {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14.9px;
  line-height: 1.611;
  color: #FFFFFF;
}
.hero-section .buttoninline-flex {
  border-radius: 9999px;
  border: 1px solid #A6731E;
  background: var(--cta, #FFA101);
  display: flex;
  padding: 8px 16.2px 8px 16px;
  box-sizing: border-box;
}
.hero-section .divmt-2 {
  border-radius: 24px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .fieldset {
  border-radius: 24px;
  margin-right: 13.9px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .divflex-11 {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.hero-section .divflex-9 {
  margin-bottom: 166px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1256.4px;
  box-sizing: border-box;
}
.hero-section .homemade-2024 {
  margin-right: 14px;
  width: 160.4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14.6px;
  line-height: 1.918;
  color: #FFFFFF;
}
.hero-section .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14.9px;
  line-height: 1.611;
  color: #FFFFFF;
}
.hero-section .linkinline-flex-5 {
  border-radius: 9999px;
  margin: 2px 0;
  display: flex;
  box-sizing: border-box;
}
.hero-section .terms-of-service {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14.9px;
  line-height: 1.611;
  color: #FFFFFF;
}
.hero-section .linkinline-flex-4 {
  border-radius: 9999px;
  margin: 2px 0;
  display: flex;
  box-sizing: border-box;
}
.hero-section .divflex-12 {
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 473.1px;
  box-sizing: border-box;
}
.hero-section .vector-3 {
  width: 22.4px;
  height: 22.4px;
}
.hero-section .linkinline-flex-6 {
  border-radius: 9999px;
  margin: 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 22.4px;
  box-sizing: border-box;
}
.hero-section .vector-4 {
  width: 23.3px;
  height: 23.3px;
}
.hero-section .linkinline-flex-7 {
  border-radius: 9999px;
  display: flex;
  width: 23.3px;
  height: 23.3px;
  box-sizing: border-box;
}
.hero-section .vector-5 {
  width: 16px;
  height: 14.5px;
}
.hero-section .linkinline-flex-8 {
  border-radius: 9999px;
  margin: 4.4px 0;
  display: flex;
  width: 16px;
  height: 14.5px;
  box-sizing: border-box;
}
.hero-section .vector-6 {
  width: 20.2px;
  height: 20.2px;
}
.hero-section .linkinline-flex-9 {
  border-radius: 9999px;
  margin: 1.6px 0;
  display: flex;
  width: 20.2px;
  height: 20.2px;
  box-sizing: border-box;
}
.hero-section .vector-7 {
  width: 23.3px;
  height: 16.4px;
}
.hero-section .linkinline-flex-10 {
  border-radius: 9999px;
  margin: 3.5px 0;
  display: flex;
  width: 23.3px;
  height: 16.4px;
  box-sizing: border-box;
}
.hero-section .vector-8 {
  width: 19.5px;
  height: 19.5px;
}
.hero-section .linkinline-flex-11 {
  border-radius: 9999px;
  margin: 1.9px 0;
  display: flex;
  width: 19.5px;
  height: 19.5px;
  box-sizing: border-box;
}
.hero-section .divflex-13 {
  margin: 2.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 298px;
  height: fit-content;
  box-sizing: border-box;
}
.hero-section .divmt-10 {
  margin-right: 17.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1239.3px;
  box-sizing: border-box;
}
.hero-section .footer {
  border-radius: 24px 24px 0 0;
  background: #1A1A1A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 112.4px 26px 71.3px;
  width: 1440px;
  box-sizing: border-box;
}
.hero-section .frame-21 {
  background: #F2F0EF;
  margin: 0 58px 0 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 127.5px 0 75px 0;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .container-13 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1557px;
  height: fit-content;
  box-sizing: border-box;
}
.hero-section .container {
  background: url('../assets/images/image_3.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -43px;
  bottom: -12px;
  width: 182px;
  height: 116px;
}
.hero-section .mask-group {
  border-radius: 50px;
  position: relative;
  margin: 0 0px 33px 0;
  width: 100px;
  height: 100px;
}
.hero-section .affies-kitchen {
  margin-bottom: 33px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.hero-section .traditional {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13.3px;
  color: #888888;
}
.hero-section .cuisines {
  border-radius: 16px;
  background: rgba(193, 193, 193, 0.533);
  margin-right: 24px;
  display: flex;
  padding: 3.5px 2.9px 3.5px 4px;
  box-sizing: border-box;
}
.hero-section .traditional-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13.3px;
  color: #888888;
}
.hero-section .cuisines-1 {
  border-radius: 16px;
  background: rgba(193, 193, 193, 0.533);
  display: flex;
  padding: 3.5px 3px 3.5px 4px;
  box-sizing: border-box;
}
.hero-section .frame-13 {
  margin: 0 6px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .container-11 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.hero-section .subtract {
  position: absolute;
  left: -17px;
  top: -16px;
  width: 334px;
  height: 222.3px;
}
.hero-section .frame-331 {
  border-radius: 12px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 156px 0 33px 1px;
  width: 301px;
  box-sizing: border-box;
}
.hero-section .container-1 {
  background: url('../assets/images/image.png') 50% / cover no-repeat;
  position: absolute;
  left: -43px;
  bottom: -12px;
  width: 182px;
  height: 116px;
}
.hero-section .mask-group-1 {
  border-radius: 50px;
  position: relative;
  margin-bottom: 33px;
  width: 100px;
  height: 100px;
}
.hero-section .affies-kitchen-1 {
  margin: 0 2.3px 33px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.hero-section .traditional-2 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13.3px;
  color: #888888;
}
.hero-section .cuisines-2 {
  border-radius: 16px;
  background: rgba(193, 193, 193, 0.533);
  margin-right: 24px;
  display: flex;
  padding: 3.5px 2.9px 3.5px 4px;
  box-sizing: border-box;
}
.hero-section .traditional-3 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13.3px;
  color: #888888;
}
.hero-section .cuisines-3 {
  border-radius: 16px;
  background: rgba(193, 193, 193, 0.533);
  display: flex;
  padding: 3.5px 2.2px 3.5px 4px;
  box-sizing: border-box;
}
.hero-section .frame-131 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.hero-section .subtract-1 {
  position: absolute;
  left: -17px;
  top: -16px;
  width: 334px;
  height: 222.3px;
}
.hero-section .frame-37 {
  border-radius: 12px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 156px 0 33px 1px;
  width: 301px;
  box-sizing: border-box;
}
.hero-section .container-2 {
  background: url('../assets/images/image_2.png');
  position: absolute;
  left: -43px;
  bottom: -12px;
  width: 182px;
  height: 116px;
}
.hero-section .mask-group-2 {
  border-radius: 50px;
  position: relative;
  margin-bottom: 33px;
  width: 100px;
  height: 100px;
}
.hero-section .jeff-bbq {
  margin: 0 1.3px 33px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.hero-section .traditional-4 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13.3px;
  color: #888888;
}
.hero-section .cuisines-4 {
  border-radius: 16px;
  background: rgba(193, 193, 193, 0.533);
  margin-right: 24px;
  display: flex;
  padding: 3.5px 2.9px 3.5px 4px;
  box-sizing: border-box;
}
.hero-section .traditional-5 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13.3px;
  color: #888888;
}
.hero-section .cuisines-5 {
  border-radius: 16px;
  background: rgba(193, 193, 193, 0.533);
  display: flex;
  padding: 3.5px 2.2px 3.5px 4px;
  box-sizing: border-box;
}
.hero-section .frame-132 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .container-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.hero-section .subtract-2 {
  position: absolute;
  left: -17px;
  top: -16px;
  width: 334px;
  height: 222.3px;
}
.hero-section .frame-38 {
  border-radius: 12px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 156px 0 33px 1px;
  width: 301px;
  box-sizing: border-box;
}
.hero-section .container-3 {
  background: url('../assets/images/image_1.png') 50% / contain no-repeat;
  position: absolute;
  left: -43px;
  bottom: -12px;
  width: 182px;
  height: 116px;
}
.hero-section .mask-group-3 {
  border-radius: 50px;
  position: relative;
  margin: 0 30.9px 33px 0;
  align-self: center;
  width: 100px;
  height: 100px;
}
.hero-section .affies-kitchen-2 {
  margin-bottom: 33px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.hero-section .traditional-6 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13.3px;
  color: #888888;
}
.hero-section .cuisines-6 {
  border-radius: 16px;
  background: rgba(193, 193, 193, 0.533);
  margin-right: 24px;
  display: flex;
  padding: 3.5px 0 3.5px 4px;
  box-sizing: border-box;
}
.hero-section .traditional-7 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13.3px;
  color: #888888;
}
.hero-section .cuisines-7 {
  border-radius: 16px;
  background: rgba(193, 193, 193, 0.533);
  display: flex;
  padding: 3.5px 3.3px 3.5px 4px;
  box-sizing: border-box;
}
.hero-section .frame-133 {
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hero-section .subtract-3 {
  position: absolute;
  left: -17px;
  top: -16px;
  width: 334px;
  height: 222.3px;
}
.hero-section .frame-39 {
  border-radius: 12px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 156px 30.1px 33px 30.1px;
  width: 301px;
  box-sizing: border-box;
}
.hero-section .container-4 {
  background: url('../assets/images/image_4.png') 50% / contain no-repeat;
  position: absolute;
  left: -43px;
  bottom: -12px;
  width: 182px;
  height: 116px;
}
.hero-section .mask-group-4 {
  border-radius: 50px;
  position: relative;
  margin-bottom: 33px;
  align-self: center;
  width: 100px;
  height: 100px;
}
.hero-section .desi-delight {
  margin: 0 6px 33px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.hero-section .traditional-8 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13.3px;
  color: #888888;
}
.hero-section .cuisines-8 {
  border-radius: 16px;
  background: rgba(193, 193, 193, 0.533);
  margin-right: 24px;
  display: flex;
  padding: 3.5px 2.6px 3.5px 4px;
  box-sizing: border-box;
}
.hero-section .traditional-9 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13.3px;
  color: #888888;
}
.hero-section .cuisines-9 {
  border-radius: 16px;
  background: rgba(193, 193, 193, 0.533);
  padding: 0 4px;
  width: 79px;
  box-sizing: border-box;
}
.hero-section .frame-134 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .container-8 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hero-section .subtract-4 {
  position: absolute;
  left: -17px;
  top: -16px;
  width: 334px;
  height: 222.3px;
}
.hero-section .frame-40 {
  border-radius: 12px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 156px 0 33px 1px;
  width: 301px;
  box-sizing: border-box;
}
.hero-section .frame-41 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 2162px;
  right: -163px;
  display: flex;
  flex-direction: row;
  column-gap: 54px;
  width: 1721px;
  height: 412px;
  box-sizing: border-box;
}
.hero-section .powerful-enough-for-arestaurant-but {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 56.4px;
  letter-spacing: 1.5px;
  line-height: 1.064;
  color: #4C483D;
}
.hero-section .made-for-you {
  margin-right: 3.7px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 56.4px;
  letter-spacing: 1.5px;
  line-height: 1.064;
  color: #4C483D;
}
.hero-section .h-2-text-dough-1100 {
  margin: 0 81.9px 39px 20.9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .from-home-chefs-to-restaurant-pop-ups-homemade-makes-online-ordering-and-delivery-easier-for-all-kinds-of {
  margin-bottom: 5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--regular-header-font-family, 'Inter');
  font-weight: var(--regular-header-font-weight, 400);
  font-size: var(--regular-header-font-size, 22.3px);
  color: #4C483D;
}
.hero-section .food-businesses {
  margin-right: 59.1px;
  overflow-wrap: break-word;
  font-family: var(--regular-header-font-family, 'Inter');
  font-weight: var(--regular-header-font-weight, 400);
  font-size: var(--regular-header-font-size, 22.3px);
  color: #4C483D;
}
.hero-section .paragraphtext-dough-1100 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .divmx-auto {
  margin: 0 272.8px 79.9px 272.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.hero-section .limited-time-drops {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 31.5px 24.5px 32px;
  box-sizing: border-box;
}
.hero-section .home-chefs {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-1 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 2px 24.5px 0;
  width: 236.5px;
  box-sizing: border-box;
}
.hero-section .meal-prep {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-2 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 2.9px 24.5px 0;
  width: 204.9px;
  box-sizing: border-box;
}
.hero-section .caterers {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-3 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 0 24.5px 1.9px;
  width: 183.2px;
  box-sizing: border-box;
}
.hero-section .pop-ups {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-4 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 0 24.5px 0.2px;
  width: 182.2px;
  box-sizing: border-box;
}
.hero-section .bakeries {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-5 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 0 24.5px 2.4px;
  width: 182px;
  box-sizing: border-box;
}
.hero-section .limited-time-drops-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-6 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 31.5px 24.5px 32px;
  box-sizing: border-box;
}
.hero-section .home-chefs-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-7 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 90.1px 6.5px 0;
  width: 236.5px;
  box-sizing: border-box;
}
.hero-section .meal-prep-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-8 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 2.9px 24.5px 0;
  width: 204.9px;
  box-sizing: border-box;
}
.hero-section .caterers-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-9 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 42.6px 6.5px 0;
  width: 183.2px;
  box-sizing: border-box;
}
.hero-section .pop-ups-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-10 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 51.4px 6.5px 0;
  width: 182.2px;
  box-sizing: border-box;
}
.hero-section .bakeries-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-11 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 38.3px 6.5px 0;
  width: 182px;
  box-sizing: border-box;
}
.hero-section .divrelative {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  box-sizing: border-box;
}
.hero-section .limited-time-drops-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-12 {
  border-radius: 120px;
  background: #A81F63;
  padding: 5.5px 32px 6.5px 32px;
  width: 338.4px;
  box-sizing: border-box;
}
.hero-section .home-chefs-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-13 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 90.1px 6.5px 0;
  width: 236.5px;
  box-sizing: border-box;
}
.hero-section .meal-prep-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-14 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 2.9px 24.5px 0;
  width: 204.9px;
  box-sizing: border-box;
}
.hero-section .caterers-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-15 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 42.6px 6.5px 0;
  width: 183.2px;
  box-sizing: border-box;
}
.hero-section .pop-ups-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-16 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 51.4px 6.5px 0;
  width: 182.2px;
  box-sizing: border-box;
}
.hero-section .bakeries-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-17 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 38.3px 6.5px 0;
  width: 182px;
  box-sizing: border-box;
}
.hero-section .limited-time-drops-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-18 {
  border-radius: 120px;
  background: #A81F63;
  padding: 5.5px 32px 6.5px 32px;
  width: 338.4px;
  box-sizing: border-box;
}
.hero-section .home-chefs-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-19 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 90.1px 6.5px 0;
  width: 236.5px;
  box-sizing: border-box;
}
.hero-section .meal-prep-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-20 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 2.9px 24.5px 0;
  width: 204.9px;
  box-sizing: border-box;
}
.hero-section .caterers-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-21 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 42.6px 6.5px 0;
  width: 183.2px;
  box-sizing: border-box;
}
.hero-section .pop-ups-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-22 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 51.4px 6.5px 0;
  width: 182.2px;
  box-sizing: border-box;
}
.hero-section .bakeries-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-23 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 38.3px 6.5px 0;
  width: 182px;
  box-sizing: border-box;
}
.hero-section .divrelative-1 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  box-sizing: border-box;
}
.hero-section .divflex-7 {
  position: relative;
  margin: 0 340.4px 16px 0;
  width: 5860.9px;
  height: 84px;
}
.hero-section .events {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-24 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 0 24.5px 3.9px;
  width: 155px;
  box-sizing: border-box;
}
.hero-section .concept-tests {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-25 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 0 24.5px 4px;
  width: 262.1px;
  box-sizing: border-box;
}
.hero-section .weekly-meals {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-26 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 0 24.5px 1.4px;
  width: 254.9px;
  box-sizing: border-box;
}
.hero-section .specialty-items {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-27 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 0 24.5px 3.2px;
  width: 274.9px;
  box-sizing: border-box;
}
.hero-section .private-chefs {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-28 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 0 24.5px 1.4px;
  width: 250px;
  box-sizing: border-box;
}
.hero-section .cooking-classes {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-29 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 0 24.5px 1.8px;
  width: 295.3px;
  box-sizing: border-box;
}
.hero-section .events-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-30 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 0 24.5px 3.9px;
  width: 155px;
  box-sizing: border-box;
}
.hero-section .concept-tests-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-31 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 79px 6.5px 0;
  width: 262.1px;
  box-sizing: border-box;
}
.hero-section .weekly-meals-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-32 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 88.3px 6.5px 0;
  width: 254.9px;
  box-sizing: border-box;
}
.hero-section .specialty-items-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-33 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 81px 6.5px 0;
  width: 274.9px;
  box-sizing: border-box;
}
.hero-section .private-chefs-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-34 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 87.7px 6.5px 0;
  width: 250px;
  box-sizing: border-box;
}
.hero-section .cooking-classes-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-35 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 115.2px 6.5px 0;
  width: 295.3px;
  box-sizing: border-box;
}
.hero-section .divrelative-2 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  box-sizing: border-box;
}
.hero-section .events-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-36 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 0 24.5px 3.9px;
  width: 155px;
  box-sizing: border-box;
}
.hero-section .concept-tests-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-37 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 79px 6.5px 0;
  width: 262.1px;
  box-sizing: border-box;
}
.hero-section .weekly-meals-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-38 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 88.3px 6.5px 0;
  width: 254.9px;
  box-sizing: border-box;
}
.hero-section .specialty-items-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-39 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 81px 6.5px 0;
  width: 274.9px;
  box-sizing: border-box;
}
.hero-section .private-chefs-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-40 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 87.7px 6.5px 0;
  width: 250px;
  box-sizing: border-box;
}
.hero-section .cooking-classes-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-41 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 115.2px 6.5px 0;
  width: 295.3px;
  box-sizing: border-box;
}
.hero-section .events-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-42 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 23.5px 0 24.5px 3.9px;
  width: 155px;
  box-sizing: border-box;
}
.hero-section .concept-tests-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-43 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 79px 6.5px 0;
  width: 262.1px;
  box-sizing: border-box;
}
.hero-section .weekly-meals-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-44 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 88.3px 6.5px 0;
  width: 254.9px;
  box-sizing: border-box;
}
.hero-section .specialty-items-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-45 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 81px 6.5px 0;
  width: 274.9px;
  box-sizing: border-box;
}
.hero-section .private-chefs-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-46 {
  border-radius: 120px;
  background: #A81F63;
  display: flex;
  padding: 5.5px 87.7px 6.5px 0;
  width: 250px;
  box-sizing: border-box;
}
.hero-section .container-3 {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  width: 2929px;
  height: fit-content;
  box-sizing: border-box;
}
.hero-section .cooking-classes-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28.2px;
  line-height: 1.277;
  color: #FFFFFF;
}
.hero-section .iteminline-flex-47 {
  border-radius: 120px;
  background: #A81F63;
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  padding: 5.5px 115.2px 6.5px 0;
  width: 295.3px;
  box-sizing: border-box;
}
.hero-section .divrelative-3 {
  position: absolute;
  right: -319.3px;
  bottom: 0px;
  display: flex;
  padding-right: 319.3px;
  width: 3248.3px;
  height: 84px;
  box-sizing: border-box;
}
.hero-section .divflex-8 {
  position: relative;
  width: 6201.2px;
  height: 84px;
}
.hero-section .divhidden {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6201.2px;
  box-sizing: border-box;
}
.hero-section .divmax-wfull {
  position: absolute;
  right: -4591.2px;
  bottom: 719.1px;
  display: flex;
  flex-direction: column;
  width: 6201.2px;
  height: 481.9px;
  box-sizing: border-box;
}
.hero-section {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
