<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signup.css') }}">
    <title>Sign Up</title>
</head>

<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form id="signup-form", method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>

            <label for="role">I am a:</label>
            <select id="role" name="role">
                <option value="consumer">Consumer</option>
                <option value="chef">Chef</option>
            </select>

            <button type="submit">Sign Up</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='scripts/signup.js') }}"></script>
</body>

</html>

