.background {
  width: 263px;
}
.background,
.frameChild,
.frameInner,
.frameItem {
  height: 15px;
  position: relative;
  background-color: #969696;
}
.frameChild {
  flex: 1;
  min-width: 124px;
}
.frameInner,
.frameItem {
  width: 81px;
}
.frame {
  width: 413px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  max-width: 100%;
}
.cooksWireframe,
.footer,
.frame {
  display: flex;
  align-items: flex-start;
}
.footer {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.cooksWireframe {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 65px 68px 0 70px;
  box-sizing: border-box;
  gap: 57px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .footer {
    flex-wrap: wrap;
  }
  .cooksWireframe {
    gap: 28px;
    padding-left: 35px;
    padding-right: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frame {
    flex-wrap: wrap;
  }
}
